{
  "presets": [
    "react-native",
    "react-native-stage-0/decorator-support"
  ],
  "plugins": [
    "idx"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    },
    "development": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    }
  }
}
